h1 {
     color: pink;
     font-family:"cursive";
     font-size: 48px;
    text-align: center;
} 
body{
  background-color: light blue;
} 

h2{
     color: white;
}

ul{
     color: white;
}

h3{
     color: white;
}
ol{
     color:white;
}
