h1 {
     color: aqua;
     font-family:"cursive";
     font-size: 48px;
    text-align: center;
} 
body{
  background-color: pink;
} 

h2{
     color: white;
     font-style: "cursive"
     
}

ul{
     color: white;
 
}

h3{
     color: white;
     
}
ol{
     color:white;
     
}
